body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--background);
    color: #000;
    padding: 0 10rem;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}